.NotFound {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
}
