.app {
  height: 100%;
}

.navigation {
  position: relative;
  top: 0px;
  width: 100%;
}

.Content {
  position: relative;
  align-items: center;
  min-width: 30%;
  max-width: 80%;
  max-height: 85%;
  margin: auto;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;

  border: 3px solid #f1f1f1;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  z-index: 2;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}
